.MilkTea {
    width: 100%;
    margin: auto;
    height: 250px;
    overflow: scroll;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}
@media (min-width: 1000px) and (min-height: 700px) {
    .MilkTea {
        width: 700px;
        height: 600px;
    }
}
@media (min-width: 500px) and (min-height: 400px) {
    .MilkTea {
        width: 350px;
        height: 300px;
    }
}

@media (min-width: 500px) and (min-height: 400pxpx) {
    .MilkTea {
        width: 400px;
        height: 350px;
    }
}