.Backdrop {
    width: 100%;
    z-index: 500;
    height: 100%;
    position: fixed;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-shadow: border-box;
    transition: all 0.3s ease-out;


}