
.cloud{
    width: 18vmin;       /*根据宽度或高度那个小然后改变*/
    height: 5vmin;
    background: white;
    border-radius: 15vmin;
    position: absolute;
    top: -30px;
    width: 100%;
    height: 60px;
    animation: cl0 12s infinite linear;

}
.cloud1{
    width: 18vmin;
    height: 9vmin;
    background:white;
    position: absolute;
    border-radius: 7vmin;
    left: 3vmin;
    top: -4vmin;
}
.cloud2{
    width: 15vmin;
    height: 11vmin;
    background: white;
    position: absolute;
    border-radius: 7vmin;
    left: 8vmin;
    top: -7vmin;
}



.foamtop {
    content: "";
    display: block;
    position: absolute;
    top: -30px;
    width: 100%;
    height: 60px;
    background-color: rgb(238, 224, 224);
    border-radius: 50%/50%;
    /* background: linear-gradient(to bottom, #f00, #a00); */
    background: linear-gradient(to bottom, rgb(245, 243, 243), rgb(245, 231, 231));
}

.jamTop {
    width: 10%;
    height: 15%;
    position: absolute;
    background-color: hotpink;

}

.redBean {
    width: 10%;
    height: 3%;
    position: absolute;
    left: 50px;
    margin-bottom: 20px;
    background: rgb(190, 89, 89);
    -moz-border-radius: 10px / 5px;
    -webkit-border-radius: 10px / 5px;
    border-radius: 10px / 5px;
    
    
    
}


